@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-light850_dark100 {
    @apply bg-light-850 dark:bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900 dark:bg-dark-300;
  }

  .background-light800_darkgradient {
    @apply bg-light-800 dark:dark-gradient;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }

  .text-dark200_light900 {
    @apply text-dark-200 dark:text-light-900;
  }

  .text-dark200_light800 {
    @apply text-dark-200 dark:text-light-800 !important;
  }

  .text-dark300_light700 {
    @apply text-dark-300 dark:text-light-700;
  }

  .text-dark400_light700 {
    @apply text-dark-400 dark:text-light-700;
  }

  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }

  .text-dark500_light500 {
    @apply text-dark-500 dark:text-light-500;
  }

  .text-dark300_light900 {
    @apply text-dark-300 dark:text-light-900 !important;
  }

  .text-dark400_light800 {
    @apply text-dark-400 dark:text-light-800;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .text-dark400_light500 {
    @apply text-dark-400 dark:text-light-500;
  }

  .text-dark400_light900 {
    @apply text-dark-400 dark:text-light-900 !important;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .light-border {
    @apply border-light-800 dark:border-dark-300;
  }

  .light-border-2 {
    @apply border-light-700 dark:border-dark-400 !important;
  }

  /* //TODO 30PX */

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  /* //TODO 24PX */

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  /* //TODO 20PX */

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  /* //TODO 16PX */

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  /* //TODO 15PX */

  .base-regular {
    @apply text-[15px] font-normal leading-[25.2px];
  }

  .base-medium {
    @apply text-[15px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[15px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[15px] font-bold leading-[140%];
  }

  /* //TODO 14PX */

  .normal-regular {
    @apply text-[14px] font-normal leading-[25.2px];
  }

  .normal-medium {
    @apply text-[14px] font-medium leading-[25.2px];
  }

  .normal-semibold {
    @apply text-[14px] font-semibold leading-[25.2px];
  }

  .normal-bold {
    @apply text-[14px] font-bold leading-[140%];
  }

  /* //TODO 13PX */

  .body-regular {
    @apply text-[13px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[13px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[13px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[13px] font-bold leading-[18.2px];
  }

  /* //TODO 12PX */

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  /* //TODO 10PX */

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-light-500;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-dark-100;
  }

  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }

  /* ! SCROLL CONTAINER */

  .scroll-container-dropdown-content {
    @apply overflow-y-auto max-h-44; /* Kết hợp các lớp Tailwind */
  }

  .scroll-container-time-content {
    @apply overflow-y-auto max-h-[300px]  pr-[6px]; /* Kết hợp các lớp Tailwind */
  }

  .scroll-container::-webkit-scrollbar {
    width: 2px;
    height: 6px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; /* Bo góc cho track của thanh cuộn */
    margin-top: 8px; /* Tạo khoảng trống phía trên */
    margin-bottom: 8px; /* Tạo khoảng trống phía dưới */
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #2564ebb1;
    border-radius: 10px;
    /* d9ebff */
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* ! NO SCROLL BAR */
  .scroll-container-noscroll {
    @apply overflow-y-auto max-h-44; /* Kết hợp các lớp Tailwind */
    scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
  }

  /* Ẩn thanh cuộn cho WebKit (Chrome, Safari) */
  .scroll-container-noscroll::-webkit-scrollbar {
    display: none; /* Hoặc bạn có thể dùng width: 0; nếu bạn muốn chiều rộng của thanh cuộn vẫn tồn tại nhưng không hiển thị */
  }

  /* ! END */

  /* Đối với Firefox */
  .scroll-container-no-scrollt {
    scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
  }

  .primary-gradient {
    background: linear-gradient(129deg, #7fc9fa 0%, #d9ebff 100%);
  }

  .bg-gray {
    background: #f9f9fb;
  }

  .bg-green {
    background: #77d370;
  }

  .bg-blue {
    background: #17a1fa;
  }

  .bg-red {
    background: #f02021;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}
